@media (max-width: 600px) {
    nav{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: unset;
        gap: 10px;
   
    }
    .navbar{
        width: 100%;
        height: 159px;
        z-index: 1;
        position: absolute;
    }

    .logo{
        font-size: 1.9rem;
        margin: 0;
    }
    .color::after{
        bottom: 5px;
        left:2px;
    }
    .nav-links{
        display: none;
        align-items: flex-end;
        flex-direction: column;
        gap: 10px;
        margin-right: 50px;
        transition:all .9s ease;
    }
    .nav-links li a{
        color: white;
        
    }
    .btn{
        display: none;
        flex-direction: column;
        gap: 10px;
        align-items: flex-end;
        justify-content: flex-end;
        margin-right: 30px;
    }
  
    .btnSigns{
        display: flex;
    }
    .signUp{
        padding: 2px 9px;
    }
    .signUp a{
        color: rgb(255, 250, 250);
    }
    .language{
        margin: auto;
        margin-left: 280px;
        display: none;
    }

    .menu{
        display: block;
        position: absolute;
        top: 15px;
        right: 40px;
    }
    .menu i{
        position: absolute;
    }
    .bx-menu{
        font-size: 30px;
        cursor: pointer;
        transition: .3s ease;
    }
    .bx-exit{
        font-size: 30px;
        cursor: pointer;
        display: none;
        transition: .3s ease;

    }
    .colored{
        width: 150px;
        height: 135px;
        background: rgb(0, 223, 253);
        position: absolute;
        top: -20px;
        right: -60px;
        z-index: -1;
        transform: rotate(40deg);
        transition: .4s ease;
        border-radius: 10px;

    }
    .expand{
        position: absolute;
        width: 250px;
        height: 274px;
        transform: rotate(0deg);
        top: 0px;
        right: -60px;
        z-index: -1;
        background: rgb(0, 223, 253);
        transition: .4s ease;
        border-radius: 10px;
    }

    /* destination */
    .destination{
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .infor{
        width: fit-content;
        position: relative;
    }
    .picture{
        width: fit-content;
        position: relative;
        margin-top: 80px;

    }
    .around-the-world{
        font-size: 17px;
    }
    .travel-headline{
        font-size: 45px;
    }
    .underline{
        left: 100px;
        width: 250px;
        top: 200px;
    }
    .world-info{
        font-size: 13px;
    }
    .docer{
       width: 500px;
       display: none;
    }
    button.play{
        padding: 10px 27px;
        font-size: 15px;
    }
    button.find{
        padding: 10px 17px;
        font-size: 15px;
    }
    #person{
        width: 470px;
        margin-left: -130px;
   
    }
    .plane{
        right: 390px;
        top: 80px;
    }
    .plane2{
        right: 30px;
    }
    /*------------------hotel ---------------- */
    .hotels{
        margin-top: 380px;
        margin-left: 0px;
    }
    .category{
        font-size: 15px;
    }
    .offer{
        font-size: 35px;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        margin-left: 10px;
    }
    #cardlist{
        width: 170px;
        height: 224px;
    }
    #products{
        font-size: 18px;
    }
    #products-info{
        font-size: 14px;
    }
    .stars{
        display: none;
    }
    /*----------------------flight chapter 3--------------------- */
    .flight{
        margin-left: 30px;
        margin-top: 40px;
    }
    .selling{
        font-size: 20px;
        margin-right: 20px;
  
    }
    .dest{
        margin-right: 20px;
        font-size: 35px;
    }
    .traveling-places{
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        
    }
    #place-list{
        width: 300px;
        margin-left: -90px;

    }
    .line{
        display: none;
    }
    /* --------------------booking ---------------------*/
    .booking{
        display: flex;
        flex-direction: column;
        margin-top: 220%; 
        margin-left: 15px; 
    }
    .booking-left{
        width: 100%;
    
    }
    .booking-right{
        position: relative;
        width: fit-content;
        margin-left: 19px;

    }
    #booking-list{
        border: 1px;
        width: 100%;
    }
     .easy{
        text-align: center;
     }
    .easy-book{
        font-size: 35px;
        text-align: center;
    }
    .choose-discription{
        font-size: 13px;
    }
    .view{
        width: 260px;
        position: relative;
    }
    .pop-up{
        padding: 10px 5px 15px 5px;
        right: 0;
        bottom: 80px;
        right: -30px;

    }
    .onboard{
        gap: 100px;
    }
    .view-img{
        width: 260px;
    }
    .temple{
        width: 30px;
        height: 30px;
    }
    .ongoin{
        font-size: 12px;
    }
    .trip-to{
        font-size: 15px;
    }
    .persentage{
        font-size: 12px;
        top: 5px;
    }
    .testimonials{
        margin-top: 200px;
        margin-left: 0px;
    }
    .layers{
        display: flex;
        flex-direction: column;
    }
    .layer-1{
    width: fit-content;
    }
    .layer-2{
        width: 200px;

    }
    .title{
        font-size: 15px;
        margin-left: 20px;
    }
    .what-poeple{
        margin-left: 20px;
        font-size: 40px;
    }
    .btn-change{
        margin-left: 50px;
    }
    .testimonial-cards{
        width: 350px;
        height: 260px;
        overflow: hidden;
        margin-left: 50px;
        right: 50px;
    }
    #all-into{
        width: 294px;
        height: 205px;
        display: flex;
        flex-direction: column; 
        margin-left: unset;
        left: 50px;
        right: 0; 
    }
    #page{
        margin-top: 10px;
    }
    #page-name{
        margin-top: 10px;
    }
    #all-into:nth-child(2){
        top: 237px;
        left: 50px;
        z-index: 1;
    }
    #all-into:nth-child(3){
        top: 487px;
        left: 50px;
        z-index: 1;
    }
    .supportedimg{
        gap: 7px;
        justify-content: flex-start;
        margin-left: -10px;
    }
    .supportedimg img{
        width: 65px;
    }
    .subscribe{
        width: 370px;
        height: 300px;
        margin-left: -25px;
        border-top-left-radius: 80px;

    }
    .subscribing{
        font-size: 17px;
        margin-top: 0px;
    }
    input#email{
        width: 201px;
        height: 38px;
        border-radius: 5px;
        font-size: 14px;
    }::placeholder{
        font-size: 15px;
        padding-left: 1px;
    }
    .subscribe-btn{
        width: 80px;
        height: 38px;
        font-size: 15px;
        border-radius: 5px;
    }
    .bx-envelope{
        font-size: 20px;
        top: 9px;
        left: 1px;
    }
    .bxl-telegram{
        bottom: -647%;
        font-size: 20px;
    }
    .round{
        display: none;
    }
    .bxl-telegram{
        border: 10px solid;
    }

    /* footer */
    footer{
        width: 95%;
        margin-left: unset;
        margin-top: 10px;
        background: rgb(28, 88, 253);
        margin-left: 10px;
    }
    .container{
        margin-top: 450px;
        flex-direction: column;
    }
    .logoing{
        text-align: center
    }
    .jado{
        font-size: 49px;
        margin-top: 30px
    }
    .book-t{
        font-size: 23px;
        color: rgb(22, 22, 22);

    }
    .names{
        font-size: 23px;
        color: rgb(22, 22, 22);
    }
    .comp{
        gap: 5px;
    }
    .comp li a{
        font-size: 18px;
        color: white;
        transition:all .6px ease;
    }
    .comp li a:hover{
        color: white;
    }
    .pngss svg{
        margin-top: 40px;
        margin-left: 20px
    }
    .discover{
        color: rgb(252, 254, 255);
        margin-left: 20px;
    }
    
}
